<div class="container">
  <h1><%= @user.email %></h1>

  <h3><%= pluralize(@user.reviews.count, "Review") %>
    <% if @user.reviews.first %> | <%= @user.average_rating %>/5 Average Rating</h3>

  <h3>Reviews:</h3>

  <%= link_to "See reviews", user_reviews_path(@user), :class => "load_reviews" %><br></br>

  <div class="reviews">
  </div>
  <% end %>
</div>

<!-- currently rendering json as
review : {
  content : "Confusing for beginners but good workout",
  group_class : {
    duration : 60,
    id : 10,
    name : "Orange 60",
    studio : {
      id : 11,
      rating : 3,
    }
  }
  user : {
    id: 2,
    email: "jef399@nyu.edu"
  }
} -->
