<div class='custom'>
  <h1><%= @user.email %></h1>

  <h3><%= pluralize(@user.reviews.count, "Review") %> | <%= @user.average_rating %>/5 Average Rating</h3>

  <h3>Reviews:</h3>

  <%= link_to "See reviews", user_reviews_path(@user), :class => "load_reviews" %><br></br>

  <div class="reviews">
  </div>
</div>
