<div class="jumbotron">
  <div class="container">
    <h1>Where do you move?</h1>
    <p>Select your city to find fitness classes in your area. Listings include Crossfit, Cycling, Yoga, and more!</p>
    <%= form_tag('/cities') do %>
      <%= collection_select(:studios, :city_id, City.all, :id, :name, prompt: true, class: "form-control form-lg") %>
      <%= submit_tag "Get Fit!", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
