<h1>Studios in <%= @city.name %></h1>
<!-- Studios in <your city> -->

<ul>
  <% @studios.each do |studio| %>
  <li><%= studio.name %></li>
  <% end %>
</ul>

<!-- Log in or sign up to leave a review -->
