<h1>Studios in <%= @city.name %></h1>
<!-- Studios in <your city> -->


  <% @studios.each do |studio| %>
  <div><h3><%= link_to studio.name, studio_path(studio) %></h3>
  </div><br></br>
  <% end %>


<!-- Log in or sign up to leave a review -->
